<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Election Results</title>
</head>
<body>
    <h1>Live Election Results</h1>
    <div id="chart-container">
        <canvas id="election-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('election-chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],  // Use candidate names directly as labels
                    datasets: [{
                        label: 'Total Votes',
                        data: [],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            function updateChart() {
                fetch('/api/data')
                    .then(response => response.json())
                    .then(data => {
                        chart.data.labels = data.map(item => item.candidate_name);
                        chart.data.datasets[0].data = data.map(item => item.total_votes);
                        chart.update();
                    });
            }

            // Mettez à jour le graphique toutes les 5 secondes
            setInterval(updateChart, 5000);
        });
    </script>
</body>
</html>